
<div class="navbar navbar-inverse navbar-fixed-top"style="background-color:orchid;"  >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Bethhany's Pie" ,"Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

            <a href="@Url.Action("Index", "Home")">
                <img src="~/images/dessert.svg" height="70" width="70" style="padding-right:5px" />
            </a>

        </div>
        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav" style="background-color: orchid;
        font-family: Bradley Hand;font-size:22px">
                <li style="padding-top:12px"><i class="fa fa-home  text-justify" aria-hidden="true"></i></li>
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <cache expires-sliding="@TimeSpan.FromSeconds(1)">
                </cache>

                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Pies <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @{
                            FinalPieShopTake1.Models.ApplicationDbContext _context = new FinalPieShopTake1.Models.ApplicationDbContext();
                            var catPie = _context.PieCategories.ToList();
                            foreach (var item in catPie)
                            {
                                <li>
                                    @Html.ActionLink(item.CName, "ViewByCategory", "Home", new { id = item.Id }, null)
                                </li>
                            }
                            @*<li>
                            @Html.ActionLink("Cheese Cake", "ViewByCategory", "Home", new { id = 2 },null)
                    </li>
                    <li>@Html.ActionLink("Fruit Pies", "ViewByCategory", "Home", new { id = 1 }, null)</li>
                    <li>@Html.ActionLink("Seasonal Pies", "ViewByCategory", "Home", new { id = 3 }, null)</li>*@

                            <li style="border-top:solid 1px">@Html.ActionLink("View All Pies", "ViewAllPie", "Home")</li>
                        }
                    </ul>
                </li>
                <li @*style="padding-top:12px;padding-right:20px;padding-left:20px*@>
                    <a href="@Url.Action("CheckOut", "AddToCart")">
                        <img src="~/images/shopping-cart.svg" height=" 40" width="40" />
                    @if (TempData["Cartcounter"] != null)
                        {
                            <span>(</span> @TempData["Cartcounter"] <span>)</span>
                        }
                    </a>
                </li>


                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li style="padding-top:12px"><i class="fa fa-phone-square  text-justify " aria-hidden="true"></i></li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li style="padding-top:12px"><i class="fa fa-info-circle  text-justify " aria-hidden="true"></i></li>
            </ul>
            @Html.Partial("_loginPartialOwn")
        </div>
    </div>
</div>
