
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bethany's Pie Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

</head>
<body>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container"style="padding-left:0px;padding-right:0px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Bethhany's Pie" ,"Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

                <a href="@Url.Action("Index", "Home")" >
                    <img src="~/images/bethanylogo.png"  height="70" width="70" style="padding-right:3px" /></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="padding-top:12px"><i class="fa fa-home fa-2x " aria-hidden="true"></i></li>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <cache expires-sliding="@TimeSpan.FromSeconds(1)">
                    </cache>

                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Pies <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                            @Html.ActionLink("Cheese Cake", "Index", "Home", null, new { id = "item 1" })</li>
                            <li>@Html.ActionLink("Fruit Pies", "Index", "Home", null, new { id = "item 2" })</li>
                            <li>@Html.ActionLink("Seasonal Pies", "Index", "Home", null, new { id = "item 3" })</li>
                            <li>@Html.ActionLink("View All Pies", "Index", "Home", null, new { id = "item 3" })</li>

                        </ul>
                    </li>
                    <li style="padding-top:12px"><i class="fa fa-cart-plus fa-2x " aria-hidden="true"></i></li>
                    @*<li>@Html.ActionLink(" Pie Cart", "Index","Home")</li>*@

                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li style="padding-top:12px"><i class="fa fa-phone-square fa-2x " aria-hidden="true"></i></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p style="color:purple">&copy; @DateTime.Now.Year -Bethany's Pie Shop</p>*@
            <p>Our address is <address>Bethany's Pie Shop - Bakery Street 555 Brussels Belgium</address></p>
            <p><small>&copy;  @DateTime.Now.Year -Bethany's Pie Shop - All rights reserved</small></p>
            <p>Contact us via <a href="mailto:info@bethanyspieshop.com">email</a></p>
            <p><small><a href="https://www.learningdojo.net">Created by Learning Dojo</a></small></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
